<div class="question">
  <%= render 'question' %>
  <div class="comments">
    <%= render 'comments/comments', parent: @question %>
  </div>
</div>
<hr>
<div class="answers">
  <%= render 'answers' %>
</div>
<%= form_with(model: [@question, @answer], data: { type: :script }, class: 'new_answer' ) do |form| %>
  <div class="row">
    <div class="col-12">
      <%= form.label :body, 'Your answer' %>
      <div class="answer-errors">
      </div>
      <div>
        <%= form.text_area :body, cols: 83, rows: 10 %>
      </div>
      <div>
        <%= link_to_add_association 'Add file', form, :attachments, partial: 'questions/attachment_fields' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= current_user ? form.submit : link_to('Sign in to answer the question', new_user_session_path) %>
    </div>
  </div>
<% end %>